Write a python program to scrap 10 images of Rayban Sunglasses from flipkart website and save them in a
directory.

In [1]:
from selenium import webdriver
import requests
import os

In [2]:
driver=webdriver.Chrome(executable_path='chromedriver.exe')

In [3]:
driver.get('https://www.flipkart.com/search?q=rayban+sunglasses&as=on&as-show=on&otracker=AS_Query_OrganicAutoSuggest_3_17_na_na_na&otracker1=AS_Query_OrganicAutoSuggest_3_17_na_na_na&as-pos=3&as-type=RECENT&suggestionId=rayban+sunglasses&requestId=c7b17f95-651b-45f2-97c4-3decea4aa126&as-searchtext=Rayban%20Sunglasses')

In [5]:
all_images=driver.find_elements_by_xpath("//img[@class='_3togXc']")
images=all_images[0:10]
len(images)

10

In [6]:
urls=[]
for image in images:
    source=image.get_attribute('src')
    urls.append(source)

In [7]:
os.getcwd()

'C:\\Users\\Rak\\Machine_Learning\\FlipRobo\\Assignment_4'

In [8]:
for index,link in enumerate(urls):
    print('downloading img {} of 10'.format(index+1))
    response=requests.get(link)
    with open (r'C:\\Users\\Rak\\Machine_Learning\\FlipRobo\\Assignment_4\\img {}.jpg'.format(index+1),'wb') as file:
        file.write(response.content)

downloading img 1 of 10
downloading img 2 of 10
downloading img 3 of 10
downloading img 4 of 10
downloading img 5 of 10
downloading img 6 of 10
downloading img 7 of 10
downloading img 8 of 10
downloading img 9 of 10
downloading img 10 of 10

Write a program to scrap 20 mouses’ data which includes model name, price from www.amazon.in whose price
is less than 500 and make a data frame with 2 columns “model_name”,” price” with the scraped data

In [13]:
driver.get('https://www.amazon.in/s?k=mouse&i=computers&ref=nb_sb_noss')

In [23]:
model_name=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
model_price=driver.find_elements_by_xpath("//span[@class='a-price-whole']")

In [24]:
len(model_name), len(model_price)

(30, 30)

In [27]:
data_name=[]
data_price=[]

for data in model_name:
    string=data.text
    data_name.append(string.strip())
for data in model_price:
    data_price.append(data.text)

In [33]:
import pandas as pd
df=pd.DataFrame({'model_name':Name, 'price':price})

In [34]:
df.shape

(600, 2)

In [35]:
df.head()

                                          model_name price
0  AmazonBasics Ergonomic Wireless Mouse - DPI Ad...   949
1  Zinq Technologies ZQ233 Wired Mouse with 1000D...   199
2  Logitech M90 Wired USB Mouse, 1000 DPI Optical...   299
3             Lenovo 300 Wired USB Mouse, GX30M39704   299
4  Xmate Zorro Wired USB Gaming Mouse, 3200 DPI O...   499

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 2 columns):
model_name    600 non-null object
price         600 non-null object
dtypes: object(2)
memory usage: 9.5+ KB

In [40]:
df['price'] = pd.to_numeric(df['price'], errors='coerce')

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 2 columns):
model_name    600 non-null object
price         580 non-null float64
dtypes: float64(1), object(1)
memory usage: 9.5+ KB

In [43]:
df.head()

                                          model_name  price
0  AmazonBasics Ergonomic Wireless Mouse - DPI Ad...  949.0
1  Zinq Technologies ZQ233 Wired Mouse with 1000D...  199.0
2  Logitech M90 Wired USB Mouse, 1000 DPI Optical...  299.0
3             Lenovo 300 Wired USB Mouse, GX30M39704  299.0
4  Xmate Zorro Wired USB Gaming Mouse, 3200 DPI O...  499.0

In [48]:
df.isnull().sum()

model_name     0
price         20
dtype: int64

In [49]:
df = df.dropna(axis=0)

In [50]:
df.isnull().sum()

model_name    0
price         0
dtype: int64

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 580 entries, 0 to 598
Data columns (total 2 columns):
model_name    580 non-null object
price         580 non-null float64
dtypes: float64(1), object(1)
memory usage: 13.6+ KB

In [52]:
df = df.loc[df['price'] < 500 ]

In [54]:
df_new = df.head(20)

In [55]:
df_new

                                           model_name  price
1   Zinq Technologies ZQ233 Wired Mouse with 1000D...  199.0
2   Logitech M90 Wired USB Mouse, 1000 DPI Optical...  299.0
3              Lenovo 300 Wired USB Mouse, GX30M39704  299.0
4   Xmate Zorro Wired USB Gaming Mouse, 3200 DPI O...  499.0
5                   Dell Ms116 275-BBCB Optical Mouse  349.0
6   Ant Esports GM200W Gaming Mouse Wired, 6 Progr...  449.0
7          Dell MS116 1000DPI USB Wired Optical Mouse  398.0
9                   HP X1000 Wired Mouse (Black/Grey)  349.0
10  Xmate Rio Wired USB Gaming Mouse, Led Backlit,...  399.0
12  Portronics Toad 12 Wireless 2.4G Optical Mouse...  477.0
13  Zinq Technologies ZQ233 Wired Mouse with 1000D...  199.0
19  Foxin Wireless Optical Wheel Mouse with Nano R...  340.0
20  IT2M Designer Mouse Pad for Laptop/Computer (9...  196.0
21  HP USB X500 Wired Optical Sensor Mouse 3 Butto...  429.0
22                                 HP Wired Mouse M10  338.0
23  Golden Feather Anti Skid Marvel Avengers Super...  189.0
25               iBall Style 63 Optical Mouse (Black)  275.0
26                 Zebronics Zeb-Comfort+ Wired Mouse  225.0
27  RiaTech Water Resistance Coating Natural Rubbe...  289.0
28  Zebronics Zeb-Rise Wired USB Optical Mouse wit...  229.0